go 1.21.5

use ./helloworld
use ./greetings
use ./webserver/basic
use ./webserver/counting
use ./webserver/countingpath
use ./webserver/drawing
use ./golangconstructs/switch
use ./golangconstructs/pointers
use ./golangconstructs/types
use ./golangconstructs/stringoverride
use ./golangconstructs/popcount
use ./golangconstructs/floatprecision
use ./graphics/surfaceplot
use ./golangconstructs/stringparts